
.tile {
    border: 1px solid #faa;
}

.tileTitle {
    padding: 0.2em; 
    border-bottom: 1px solid #faa;
}

.tileContainter {
    display: flex;
    align-items: stretch;
}

.tileContainter--horizontal {
    flex-direction: row;
}

.tileContainter--vertical {
    flex-direction: column;
}

.mainTile {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; 
}

.tileActionButtons {
    position: absolute; 
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.2);
    
    .fa { 
        margin: 0.3em; 
        line-height: 1.4rem; 
        width: 1.4rem; 
        height: 1.4rem; 
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease; 
        color: #fff;

        &:hover { 
            background: rgba(0, 0, 0, 0.6);
        }

    }
}

.editMode { 
    .tile,
    .tileContainter {
        overflow: hidden;
        position: relative; 
        flex-grow: 1;
        transition: all 0.2s ease; 

        &:hover {
            padding-top: 2rem;
            background: rgba(0, 0, 0, 0.2);
            > .tileActionButtons {
                transform: translateY(0);
            }
        }
    }
}