
.tile {
    border: 1px solid #faa;
}

.tileTitle {
    padding: 0.2em; 
    border-top: 1px solid #faa;
}

.tileContainter {
    display: flex;
    align-items: stretch;
}

.tileContainter--horizontal {
    flex-direction: row;
}

.tileContainter--vertical {
    flex-direction: column;
}

.mainTile {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; 
}

.tileActionButtons {
    position: absolute; 
    right: 0;
    top: 0;
    text-align: right;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.2);
    .fa { 
        margin: 0.3em; 
        line-height: 1.4rem; 
        width: 1.4rem; 
        height: 1.4rem; 
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease; 
        color: #fff;

        &:hover { 
            background: rgba(0, 0, 0, 0.6);
        }

    }
}

.tile,
.tileContainter {
    flex-grow: 1;
}

.editMode { 
    .tile,
    .tileContainter {
        overflow: hidden;
        position: relative; 
        transition: all 0.2s ease; 

        &:hover {
            padding-top: 2rem;
            background: rgba(0, 0, 0, 0.2);
            > .tileActionButtons {
                transform: translateY(0);
            }
        }
    }
}

.controlBar {
    padding: 0.3rem; 
    background: #444;
    color: #fff;
    .fa {
        border-radius: 100%;
        width: 1.2rem; 
        height: 1.2rem; 
        line-height: 1.2rem; 
        text-align: center; 
        transition: all 0.3s ease; 
        cursor: pointer;
        &.active {
            color: #444;
            background: #fff;
        }
    }
}